{% extends "login_mother_model.html" %}
{% load commentTree %}

{% block content %}
    <ul>
{#        <li class="logined-user" onclick="Notify();">{{ logineduser }}</li>#}
        <li class="logined-user" onmouseover="seesettingsandlogout();" onmouseout="hidestandlg();" onclick="Notify();">{{ logineduser }}</li>
        <li class="dynamic" onclick="Dynamic();">动态</li>
        <li class="notify" onclick="Notify();">通知</li>
        <li class="hide is_login" isloginornot="yes"></li>
    </ul>

{% endblock %}



{% block content1 %}
    {% for item in newsitems %}
        <div class="item">
            <div class="part1">
                <a class="news-alink" href={{ item.2 }}>{{ item.1 }}</a>
                <span class="link-name-span">-{{ item.2 }}</span>
                <a class="news-caption"><span class="news-caption-span">{{ item.6 }}</span></a>
                <div class="part1-coment">
                    <span class="part1-coment-span">{{ item.3 }}</span>
                </div>
            </div>

            <div class="part2">
                <a class="part2-a1" onclick="doFavor(this,{{ item.0 }});">
                    {% if item.9 %}
                        <span class="part2-a1-span favor_active"></span>
                    {% else %}
                        <span class="part2-a1-span"></span>
                    {% endif %}

                    <b class="ab" id="news_favor_{{ item.0 }}">{{ item.7 }}</b>
                </a>

                <a class="part2-a2 content-a" onclick="doGetContent(this,{{ item.0 }});"><span class="part2-a2-span"></span><b class="ab">{{ item.8 }}</b></a>

                <a class="part2-a3"><span class="part2-a3-span"></span></a>

                <a class="part2-a4"><span class="part2-a4-span"></span><b class="ab">{{ item.0 }}</b></a>

                <a class="part2-a5"><b class="ab">{{ item.4 }}入热榜</b></a>
            </div>

            <div class="content-area-{{ item.0 }} hide" >
                <div class="content-area-header">
                    <a class="content-close" onclick="closeContent(this,{{ item.0 }});">

                    </a>
                </div>

                <div class="content-area-body">
                    <ul class="content-ul-{{ item.0 }}">
{#                        {% tree comment_dic %}#}
{#                            {% for contentItem in contentitmes %}#}
{#                                <li class="content-li-list">#}
{#                                    <div class="content-li-list-area">#}
{#                                        {{ contentItem.3 }} kongge {{ contentItem.1 }} kongge {{ contentItem.2 }} over#}

{#                                    </div>#}
{#                                </li>#}
{#                            {% endfor %}#}
                    </ul>
                    <div class="user-content">
                        <div class="huifuyonghu-{{ item.0 }} hide huifuyonghutopborder">
                            <span class="reply-user-span" style="font-size: 12px;color: #2459a2">回复 zhenxibo:</span>
                        </div>
                        <div class="content-input">
                            <textarea class="content-input-textarea"></textarea>


                        </div>
                        <div class="content-submit">
                            <a class="content-submit-a" onclick="doContent(this,{{ item.0 }});">
                                评论
                            </a>
                        </div>

                    </div>
                </div>

            </div>



            <div class="bottomborder">

            </div>

        </div>
    {% endfor %}

    <div class="pager-outer">
        <div class="pager-inner">
            <ul class="pager-inner-ul">
                {{ str_page }}
            </ul>
        </div>

    </div>

{% endblock %}



