{% extends "login_mother_model.html" %}


{% block content %}
    <ul>
        <li class="login" onclick="Click();">登录</li>
        <li class="register" onclick="Click();">注册</li>
        <li class="hide is_login" isloginornot="no"></li>
    </ul>
{% endblock %}


{% block content1 %}
    <div class="item">
        <div class="part1">
            <a class="news-alink" href="https://www.baidu.com">冲突与争吵中，土耳其总统制修宪草案闯过议会“首关”</a>
            <span class="link-name-span">-www.thepaper.cn</span>
            <a class="news-caption"><span class="news-caption-span">42区</span></a>
            <div class="part1-coment">
                <span class="part1-coment-span">当地时间15日晚，土耳其宪法修正案第18项修改条款在议会投票通过，至此全部条款已分别以单项条款的形式在议会通过第一轮投票，该修正案试图从宪法上赋予总统实权。</span>
            </div>
        </div>

        <div class="part2">
            <a class="part2-a1"><span class="part2-a1-span"></span><b class="ab">5</b></a>

            <a class="part2-a2"><span class="part2-a2-span"></span><b class="ab">5</b></a>

            <a class="part2-a3"><span class="part2-a3-span"></span><b class="ab">5</b></a>

            <a class="part2-a4"><span class="part2-a4-span"></span><b class="ab">5</b></a>

            <a class="part2-a5"><b class="ab">25minites入热榜</b></a>
        </div>

        <div class="bottomborder">

        </div>

    </div>
{% endblock %}



